.main{
    width: 100%;
    margin: auto;
}

.header{
    text-align: center;
    height: 80px;
    background-color: #33C3f0;
    padding: 10px;
}

.headingFont{
    font-size: 60px;
    font-weight: bold;
    color: white;
}

.left{
    padding-left: 20px;
    padding-top: 20px;
}

.headerTwo{
    font-size: 35px;
}

.historyBtn{
    width: 100%;
    background-color: #33C3f0;
    color: white;
    font-size: 15px;
}

.right{
    padding-top: 20px;
}

.card{
    background-color:  #33C3f0;
    width: 22%;
    display:inline-block;
    padding: 5px;
    margin: 10px;
    color: white;
    text-align: center;
    overflow: hidden;
    flex-wrap: wrap;
}

.image{
    width: 80%;
    height: 80px;
    object-fit:contain;
}

#event-container{
    display:flex;
    width: 100%;
    padding-top: 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}

#map{
    width: 99%;
    height: 250px;
    display: block;
}

.eventInfoDiv{
    font-size: 20px;
}